* {
  font-family: 'Reem Kufi', sans-serif;
}
/* .App {
  text-align: center;
} */

.roomContainer, .gameContainer {
  text-align: center;
  margin: 70px auto;
  width: 40%;
  background-color: antiquewhite;
}

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: lavender;
}

.header button {
  float: right;
}

.hidden {
  display: none;
}

.form {
  text-align: center;
  margin: 70px auto;
  width: 60%;
}

.playButton {
  position: relative;
}
/* .resultsP {
  float: left;
}
.join {
  float: right;
} */
