* {
  font-family: 'Reem Kufi', sans-serif;
}

body {
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(65, 65, 65));
  background-size: cover;
  height: 667px;
  background-repeat: no-repeat;
}

.roomContainer, .gameContainer {
  /* text-align: center; */
  margin: 115px auto;
  width: 80%;
  /* background-color: antiquewhite; */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.headerLine {
  position: fixed;
  width: 100%;
  border-bottom: solid springgreen;
  animation: flyIn .5s linear;  
}

.header button {
  float: right;
  margin: 12px;
  background-color: tomato;
  border-color: tomato;
}

/* .header button:hover {

} */

.hidden {
  display: none;
}

.form {
  text-align: center;
  margin: 200px auto;
  width: 60%;
}

.joinButton {
  border-radius: 2px;
  color: white;
  margin: 4px;
  outline: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  float: left;
}

.joinButton:hover {
  opacity: .5;
}

.logInForm, .signUpForm {
  margin-top: 20px;
}

.loggedIn {
  animation: fadeIn ease 2s;    
}

#flyIn {
  animation: flyIn .4s linear;
}

#fadeIn {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes flyIn {
  0%   { 
  transform: translateX(200%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
 }

.playButton {
  position: relative;
}

.serviceButton {
  border-radius: 2px;
  background-color: mediumblue;
  border-color: mediumblue;
  color: white;
  margin: 0 4px;
  outline: none;
  cursor: pointer;
}

.serviceButton:hover {
  opacity: .5;
  color: white;
}

#logo {
  height: 40px;
  animation: fadeIn ease 2s; 
}

#logo2 {
  height: 40px;
  float: left;
  margin: 6px 20px 0;
}

#logInName {
  clear: both;
  padding-top: 5px;
  margin-left: 25px;
}

#newUser span, #logButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#newUser span:after, #logButton span:after {
  content: '\27AE';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#newUser:hover span, #logButton:hover span {
  padding-right: 25px;
}

#newUser:hover span:after, #logButton:hover span:after {
  opacity: 1;
  right: 0;
}

#resultsP {
  font-size: smaller;
}




